<!DOCTYPE html>
<html>
  <head>
    <title inertia>Ping CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <%= inertia_headers %>

    <%= vite_react_refresh_tag %>
    <%= vite_client_tag %>

    <%= vite_typescript_tag 'application' %>
    <%= vite_typescript_tag 'inertia' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
